@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sat-school-primary-yellow: #fdeb6b;
  --sat-school-secondary-yellow: #fdeb8c;
  --sat-school-egg-yellow: #f6d683;
  --sat-school-blue: #1855a5;
  --sat-school-dark-blue: #0e3c73;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fc-lamoon);
  --font-mono: var(--font-geist-mono);
  --color-sat-school-primary-yellow: var(--sat-school-primary-yellow);
  --color-sat-school-secondary-yellow: var(--sat-school-secondary-yellow);
  --color-sat-school-egg-yellow: var(--sat-school-egg-yellow);
  --color-sat-school-blue: var(--sat-school-blue);
  --color-sat-school-dark-blue: var(--sat-school-dark-blue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fc-lamoon);
}
